<div id="main">
  <div class="wrapper">
    <section id="content">
<!--Form Advance-->
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h4 class="header2">Book Appointment</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text">
              <label for="first_name">First Name</label>
            </div>

            <div class="input-field col s6">
              <input id="last_name" type="text">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email5" type="email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="phonenumber" type="numbers">
              <label for="phonenumber">Phone Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <select class="icons">
                <option value="" disabled selected>Choose hairstyle</option>
                <option value="" data-icon="images/sample-1.jpg" class="circle">Taper fade</option>
                <option value="" data-icon="images/office.jpg" class="circle">Comb Over</option>
                <option value="" data-icon="images/yuna.jpg" class="circle">Other</option>
              </select>
              <label>Images in select</label>
            </div>
            <div class="col s6">
              <input type="date" class="datepicker">
              <label for="dob">Date</label>
            </div>
          </div>

          <div class="row">
            <div class="file-field input-field col s6">
              <input class="file-path validate" type="text"/>
              <div class="btn">
                <span>Age</span>
                <input type="file" />
              </div>
            </div>
            <div class="input-field col s6">
               <span>Image</span>
               <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
              </p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="message5" class="materialize-textarea" length="120"></textarea>
              <label for="message">Message</label>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                  <i class="mdi-content-send right"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
