<div class="container-fluid">
  <!-- <div class="row">
    <div class="calendar" ng-model="vm.eventSources" calendar="myCalendar" config="vm.uiConfig.calendar" ui-calendar="vm.uiConfig.calendar"></div>
    <ul class="unstyled">
      <li ng-repeat="e in vm.events | filter:vm.currentDate">
          <div class="alert alert-info">
              <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
              <b> {{e.title}}</b> - {{e.start | date:"MMM dd"}}
          </div>
      </li>
    </ul>
  </div> -->
  <div class="row">
    <div class="card-panel" ng-repeat="a in vm.appointments">
      <span>Customer: <small>{{a.customerName}}</small></span><br>
      <span>Service: <small>{{a.hairstyle.style}}</small></span><br>
      <span>On: <small>{{a.appointmentDate}}</small></span><br>
      <span>at: <small>{{a.appointmentTime}}</small></span><br>
    </div>
  </div>
</div>

